body {
  background-color: grey;
}

div#imatges {
  background-color: blueviolet;
  padding: 5px;
  margin:5px;
  height: 500px;

  position: relative;
}

p#titol {
  font-size: 3rem;
  text-decoration: underline;
  font-style: italic;
  margin: 5px;

  position: fixed;

  /* CSS AL DAVALL */
  left: 200px;


}

h2 {
  font-size: 40px;
  color: white;
  margin: 0px;

  position: relative;

  /* CSS AL DAVALL */
  opacity: 0;
}

img#model {
  position: absolute;

  /* CSS AL DAVALL */
  left: 50px;
  top: 15px;

 
}

img#scissors {
  position: absolute;

  /* CSS AL DAVALL */
  bottom: 25px;
  right: 25px;

}

.description {
  font-size: 2em;
  color: yellowgreen;

  position: relative;

/* CSS AL DAVALL */
bottom: 50px;
left: 10px;

}
