*{
    margin: 0px;
    padding: 0px;
}
.logo{
    height: 100px;
    width: 250px;
}
nav ul li a{
    color: aliceblue;
    background-color: rgb(107, 0, 128);
}
/*Contenedor Header*/
.contenedorHeader{
    display: flex;
    border-style: dashed;
}
.tituloHeader{
    text-align: center;
    position: relative;
    bottom: -5px;
}
.titulo{
    float: left;
    height: 100px;
    width: 1500px;
}
.fraseHeader{
    text-align: center;
    position: relative;
    bottom: -20px;
    left: 10px;
}
/*Barra de Navegacion*/
nav:hover{
    background-color: purple;
}
nav{
    padding-inline: 20px;
    border-style: dashed;
}
nav li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0; 
}
/*Fin de Barra de Navegacion*/
.imagenprincipal{
    width: 1500px;
    height: 150px;
}
.titulo{
    background-color: purple;
}
h1{
    font-size: 2em;
}
.contenedor3{
    background-color: rgba(211,211, 211, 0.72);
    display: flex;
    height: 250px;
}
.contenedor4{
    border-collapse: collapse;
    margin: auto;
}
.imagen5{
    width: 1500px;
}
.fila1{
    background-color: #B421FF;
    border: 5px solid black;
}
.fila2{
    background-color: #959494;
}
.fila3{
    background-color: white;
}
.fila4{
    background-color: #959494;
}
/*Contenedor imagenes*/
.contenedor{
    display: flex;
    justify-content: center;
    height: 300px; /*Fijo*/
}
.contenedor img{
    height: 100%;
    width: 33.33%;
    border-style: dashed;
    margin-right: auto;
}
/*Footer*/
footer{
    background-color: purple;
    height: 100px;
    border-style: dashed;
}
footer p{
    color: white;
}
.frase2{
    position: relative;
    left: 1200px;
    bottom: -50px;
}
table{
    width: 450px;
    height: 150px;
    border: 1px solid black;
    border-collapse: collapse;
}
.textoTabla{
    text-align: center;
    position: relative;
    top: -10px;
}
.contenedor2{
    border-style: dashed;
}
.contenedor5{
    border-style: dashed;
}